[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "20.8b1"
pytest = "6.2.2"

[packages]
speedtest-cli = "2.1.2"
influxdb = "5.3.1"
loguru = "0.5.3"
huawei-lte-api = "1.4.17"

[pipenv]
allow_prereleases = true
